# For development
/inc/instance-config.php

#node
/node_modules/*
#boards
/b/*
/p/*
/qa/*
/xmas/*
/lit/*
/megu/*
/ignore/*
/test/*
/feb/*
/all/*
/g/*
/poll/*
/Nen/*
/nen/*
/jp/*
/GNFOS/*
/agg/*
/poll/*
/trans/*
/f/*
/sgp/*
/win/*

#logs
/*.log
/*.txt

#gz
*.gz

#saves
*.save*

#ban files
bans-all.html

# static html and json
*.json
/*/res
/*/src
/*/thumb

#password files
secrets.php

# include some files though
#!/templates/*.html
#!/inc/config.php

# minify
/inc/lib/minify



# .installed
/.installed

# script file
/main.js


#sitemap
/sitemap.xml

# templates cache
/templates/cache

# other stuff
.DS_Store
.htaccess
thumbs.db
Icon?
Thumbs.db
*.patch
*.diff
*.rej
*.orig
*~

# tmp filesystem
/tmp/cache/*
/tmp/locks/*
!/tmp/cache/.gitkeep
!/tmp/locks/.gitkeep

#vichan custom
favicon.ico
/static/spoiler.png
