[submodule "js/wPaint"]
	path = js/wPaint
	url = https://github.com/vichan-devel/wPaint.git
	branch = master

[submodule "inc/lib/parsedown"]
	path = inc/lib/parsedown
	url = https://github.com/vichan-devel/parsedown
	branch = master
[submodule "inc/captchouli"]
	path = inc/captchouli
	url = git@github.com:bakape/captchouli.git
[submodule "Regex-Webscraper"]
	path = Regex-Webscraper
	url = https://github.com/ECHibiki/Regex-Webscraper
