/**
 * dark.css
 * For AwsumChan by Circlepuller
 */

span.quote {
    color:#B8D962;
}
header div.subtitle, h1 {
    color: #dacc86;
    text-align: center;
}
header div.subtitle {
    font-size: 10pt;
}
h1 {
	font-size: 20pt;
	text-align: center;
	letter-spacing: 0px;
	text-shadow: 5px 5px 10px black;
}

a {color: #CCCCCC; }

div.title p {
	font-size: 10px;
}

a.post_no {
	color: #AAAAAA;
	text-decoration: none;
}
a.post_no:hover {
	color: #32DD72 !important;
	text-decoration: underline overline;
}
div.post.reply {
	background: #333333;
	/* border: #555555 1px solid; */
        /* -webkit-border-radius: 10px; */
        /* -khtml-border-radius: 10px; */
        /* -moz-border-radius: 10px; */
        /* border-radius: 10px; */

}
div.thread.highlighted {
	background: linear-gradient(0deg, rgba(30,30,30,1) 0%, rgba(39,39,39,1) 75%, rgba(30,30,30,1) 100%);
}
div.post.reply.highlighted {
	background: #555;
	border: transparent 1px solid;
}
div.post.reply div.body a:link, div.post.reply div.body a:visited {
	color: #CCCCCC;
}
div.post.reply div.body a:link:hover, div.post.reply div.body a:visited:hover {
	color: #32DD72;
}
.intro span.subject {
	font-size: 12px;
	font-family: sans-serif;
	color: #8a8153;
	font-weight: 800;
}
.intro span.name {
	color: #d9dd32;
	font-weight: 800;
	text-shadow: rgb(12, 12, 12) 0.1px 0.1px 0.1px;
}
.intro a.capcode, p.intro a.nametag {
	color: magenta;
	margin-left: 0;
}
.intro a.email, p.intro a.email span.name, p.intro a.email:hover, p.intro a.email:hover span.name {
	color: #32ddaf;
}
.intro a.noko, p.intro a.noko span.name, p.intro a.noko:hover, p.intro a.noko:hover span.name {
	color: #784bff;
	text-shadow: rgb(12, 12, 12) 1px 1px 1px;
}
.intro a.sage, div.intro a.sage span.name, div.intro a.noko:hover, p.intro a.noko:hover span.name {
	color: #3df55e;
}
.intro a.repo, div.intro a.repo span.name, div.intro a.repo:hover, p.intro a.repo:hover span.name {
	color: #fb672a;
	text-shadow: rgb(12, 12, 12) 0.1px 0.1px 0.1px;
}
input[type="text"], textarea, select {
	background: #333333;
	color: #CCCCCC;
	border: #666666 1px solid;
	padding-left: 5px;
	padding-right: -5px;
	font-family: sans-serif;
	font-size: 10pt;
}
input[type="password"] {
	background: #333333;
	color: #CCCCCC;
	border: #666666 1px solid;
}
form table tr th {
	background: #333333;
	color: #AAAAAA;
	font-weight: 800;
	text-align: left;
	padding: 0;
}
div.banner {
	background: #7064d0;
	color: #000;
	text-align: center;
	width: 300px;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 0px;
	font-size: 12px;
}
div.banner a {
    color:#000;
}
input[type="submit"] {
	background: #333333;
	border: #888888 1px solid;
	color: #CCCCCC;
}
input[type="submit"]:hover {
	background: #555555;
	border: #888888 1px solid;
	color: #32DD72;
}
input[type="text"]:focus {
    border:#aaa 1px solid;
}
p.fileinfo a:hover {
	text-decoration: underline;
}
span.trip {
	color: #AAAAAA;
}
div.pages {
	color: #AAAAAA;
	background: #333333;
	border: #666666 1px solid;
	font-family: sans-serif;
	font-size: 10pt;
}
div.pages a.selected {
	color: #CCCCCC;
}
hr {
	height: 1px;
	border: #333333 1px solid;
}
div.boardlist {
	color: #999999;
	padding: 0px 3px;
    margin: 0px -7px;
    background-color: rgba(12%, 12%, 12%, 0.40);
}

div.ban {
	background-color: transparent;
	border: transparent 0px solid;
}
div.ban h2 {
	background: transparent;
	color: #975fec;
	font-size: 12px;
}
table.modlog tr th {
	background: #333333;
	color: #AAAAAA;
}

.desktop-style div.boardlist:not(.bottom) {
  text-shadow: black 1px 1px 1px, black -1px -1px 1px, black -1px 1px 1px, black 1px -1px 1px;
  background-color: #666666;
}


.desktop-style div.boardlist:not(.bottom):hover, .desktop-style div.boardlist:not(.bottom).cb-menu {
  background-color: rgba(30%, 30%, 30%, 0.65);
}

div.report {
	color: #666666;
}

/* options.js */
#options_div, #alert_div {
	background: #333333;
}
.options_tab_icon {
	color: #AAAAAA;
}
.options_tab_icon.active {
	color: #FFFFFF;
}

#quick-reply table {
	background: none repeat scroll 0% 0% #333 !important;
}


/* Yotgo/Cool Dude's (WIP) cool sheet 
* For Kissu.moe
*/

body {
	background: #1E1E1E;
	color: #999999;
	font-family: Lucida Sans Unicode, Arial, sans-serif;
	font-size: 12.5px;
	/* line-height: 140%; */
}

a:link, a:visited, .intro a.email span.name {
	color: #CCCCCC;
	text-decoration: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}
a:link, a:visited, .intro a.noko span.name {
	color: #CCCCCC;
	text-decoration: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}
a:link, a:visited, .intro a.sage span.name {
	color: #CCCCCC;
	text-decoration: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}
a:link, a:visited, .intro a.repo span.name {
	color: #CCCCCC;
	text-decoration: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}
a:link:hover, a:visited:hover {
	color: #fff;
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
	font-size: 12px;
}

div.title, h1{
	color: #8278b9;
	font-family: Lucida Sans Unicode, Arial, sans-serif;
}
h1 a:link, h1 a:visited{
	color: #CCCCCC;
	font-size: 20pt;
	font-family: Lucida Sans Unicode, Arial, sans-serif;
}
h1 a:link:hover, h1 a:visited:hover {
	color: #fff;
	font-size: 20pt;
	font-family: Lucida Sans Unicode, Arial, sans-serif;
}


div.blotter {
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

.unimportant{
	text-align:right;
}

#uppercontents{

}
#subuppercontents{
	margin: 0.3%;
}

/* Use this for an expanding and shrinking post field
#topcontainer{
    display: block;
    margin: auto;
    margin-bottom: -78px;
    margin-top: -47px;
    place-content: space-evenly;
    flex-flow: row wrap;
    align-items: end;
    opacity: 0.85;
    transform: scale(0.70,0.70);
    width: 27em;
	position:relative;
	left: -2.2em;
}

#topcontainer:hover, #topcontainer:focus, #topcontainer:target{
	 opacity: 1.0;
	 transform: scale(1.0,1.0);
	margin: 0em 0em 0em;
	width: 100%;
	position:relative;
	left: 2em;
}
*/


#topcontainer{
	 opacity: 1.0;
	 transform: scale(1.0,1.0);
	margin: 0em 0em 0em;
	width: 100%;
	position:relative;
	
}

header{
	padding: 0em 0em;
}


div.subtitle {
    font-size: 8pt;
}
div.subtitle {
    color: #e6b28c;
    text-align: center;
	text-shadow: 5px 5px 10px black;
}

form table {
	background-color: rgba(30,30,30,0.7);
	padding:0.5em 0em;
	margin: auto;
}
form table input {
	height: auto;
}
input[type="text"], input[type="password"], textarea {
	border: 2px solid #65627f;
        background-color: #3a4161;
	text-indent: 0;
        color:#ECD5DA;
	text-shadow: none;
	text-transform: none;
	word-spacing: normal;
	box-shadow: 10px 5px 20px 1px rgba(0,0,0,1);
	border-radius: 10px;
}

textarea {
	width:auto;
}

.dialog, .suboption-list > div:last-of-type, :root.catalog-hover-expand .catalog-container:hover > .post{
	background: #1E1E1E;
}

form table tr td {
	text-align: left;
	margin: 0;
	padding: 0;
}
form table.mod tr td {
	padding: 2px;
}
form table tr th {
	text-align: left;
	padding: 4px;
}
form table tr th {
	background: #48402a;
}
form table tr td div {
	text-align: center;
	float: left;
	padding-left: 3px;
}
form table tr td div input {
	display: block;
	margin: 2px auto 0 auto;
	border-radius: 10px;
}
form table tr td div label {
	font-size: 10px;
}

form form_submit{
	margin-bottom: 5em;
}

