/* kissumas 1.0 */
body {
 margin-left: 100px !important;
 margin-right: 100px !important;
/* WALLPAPER */
background: url('https://kissu.moe/static/themes/1575857147054.png') repeat right fixed;
#background: #108210;
/* FONT */
    color:#feffe6;
  text-shadow: 1px 1px 1px rgba(24, 0, 24, 1);
}
hr {
border: none !important;
}


/* FILENAME, REPLY */
a, a:visited {
    #font-family: dasher deer;
    font-weight: 100;
    text-decoration: none;
    color: #ffc675;
}
a:link {
       color: #ffe361;
}
/* CURSOR HOVER TEXT COLOR */
a:hover, .intro a.post_no:hover {
    color: #8774CA;
}
 
/* POST NUMBER */
a.post_no {
    #text-decoration: none;
    #font-family: comet deer;
  #color:#ffe139;
  #font-weight: bold;
    #margin: ;
    #padding: ;
}
.intro a.post_no {
    color: #ffe139;
}
 
 
/* BOARD TITLE */
header div.subtitle, h1 {
    color: #fff33a;
    #font-family: festival;
    #text-shadow: 2px 2px 6px rgba(179, 131, 207, 1);
    font-weight: lighter;
    text-align: center;
}
/* BOARD SUBTITLE */
header div.subtitle {
    font-size: 11pt;
        color: #e54141;
        #text-shadow: 2px 2px 6px rgba(179, 131, 207, 1);
        text-align: center;
}
 
/* REPLY BOX FORM */
 #form[name=post]{
  box-sizing: border-box !important;
  position: fixed !important;
  bottom: 0 !important;
  right: 0 !important;
  background: #fff !important;
  margin-bottom: 0 !important;
  padding: 1em !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}

form[name=post] input[type="text"],
form[name=post] textarea{
  #width: 100% !important;
  padding: 0.5em !important;
  box-sizing: border-box !important;
}

form table tr th{
  color: #fefff6!important;
  background: #7b4a2a!important;
}



form {
    margin-bottom: 4em;
}
form table {
    margin: auto;
}
form table input {
    height: auto;
}
input[type="text"], input[type="password"], textarea {
    border: 2px solid #65627f;
        background-color: #AC1C1C;
    text-indent: 0;
        color:#fffed8;
    text-shadow: 1px 1px 1px rgba(24, 0, 24, 1);
    text-transform: none;
    word-spacing: normal;
    box-shadow: 10px 5px 20px 1px rgba(0,0,0,1);
    border-radius: 10px;
}
form table tr td {
    text-align: left;
    margin: 0;
    padding: 0;
}
form table.mod tr td {
    padding: 2px;
}
form table tr th {
    text-align: left;
    padding: 4px;
}
form table tr th {
    background: #000000;
}
form table tr td div {
    text-align: center;
    float: left;
    padding-left: 3px;
}
form table tr td div input {
    display: block;
    margin: 2px auto 0 auto;
    border-radius: 10px;
}
form table tr td div label {
    font-size: 10px;
}
 /* OP BACKGROUND */
[id^=thread]{
  background: #12850f !important;
        margin-left: auto !important;
  #margin-right: 200px !important;
        margin-bottom: 2em !important;
  #padding: 1em 1em 1 1em !important;
  border-width: 5px;
  border-style: double;
  border-color: #106b0e;
  border-radius: 22px;
  #box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
}

[id^=thread] hr{
  display: none !important;
}

[id^=thread] div.post.reply.highlighted {
  background: #fec !important;
}
 
.intro.thread-hidden{
  padding-bottom: 1em !important;
}

 
/* FILE INFO TEXT */
p.fileinfo {
    display: block;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    margin: 0;
    padding-right: 8em;
    border-radius: 2px;
}
/* THREAD SUBJECT TEXT */
.intro span.subject {
    color: #E08AC6;
        text-shadow: 1px 1px 5px rgba(154, 119, 180, 1);
    font-weight: bold;
}
/* USERNAME TEXT */
.intro span.name {
    color: #72ff6d;
    font-weight: bold;
  #text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/* CAPCODE */
.intro span.capcode, p.intro a.capcode, p.intro a.nametag {
    color: #F6CCE0;
    margin-left: 0;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}
 
/* TRIPCODE */
span.trip {
    color: #F6CCE0;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}
/* <QUOTING */
span.quote {
    color: #95ff92;
}
 
/* REPLIES */
div.post.reply {
border-width: 4px;
border-style: double;
#border-color: #860404;
border-color: #660404;
#border-radius: 22px;
background: #860404 !important;
display: inline-block;
   
    border-radius: 10px;
}
 
div.ban {
    background: #070C3E;
    border: 1px solid #00;
    max-width: 700px;
    margin: 30px auto;
}
 
/* PUBLIC BAN TEXT */
span.public_ban {
    display: block;
    color: #B96695;
    font-weight: bold;
    margin-top: 15px;
}